<label class="h1Title textBold">Contact List</label>
<table class="table table-hover">
    <tbody>
       <% if (contacts.length>0) { 
       _(contacts).each(function(contact) { %>
          <tr id="editContact">
               <td class="editContact"  style="width:100%;">
                        <span class="textBold"><%= contact.firstName%>  <%= contact.lastName%> </span>
                        <br><%= contact.email%>
              </td>
          </tr>
       <%});
       } 
       else {%>
            <tr> <td style="width:100%;">No Contact found</td></tr>
       <% }%>
    </tbody>
</table>