
<label class="h1Title textBold">Contact List</label>
<i class="addContact icon-plus pull-right poineterCursorGeneric" style="margin:-40px 10px 10px 10px" href="#myModal_add" data-toggle="modal"></i>
<table class="table table-hover">
    <tbody>
       <% if (contacts.length>0) { 
       _(contacts).each(function(contact) { %>
          <tr id="editContact">
               <td class="editContact" id="<%= contact.id%> " style="width:100%;">
                        <span id="<%= contact.id%>" class="textBold"><%= contact.firstName%>  <%= contact.lastName%> </span>
                        <br><%= contact.email%>
              </td>
              <td ><i class="editContact icon-pencil poineterCursorGeneric" id="<%= contact.id%>" href="#myModal_edit" data-toggle="modal"></i></td>
              <td><i class="removeContact icon-remove-sign poineterCursorGeneric" id="<%= contact.id%>" ></i></td>
          </tr>
       <%});
       } 
       else {%>
            <tr> <td style="width:100%;">No Contact found</td></tr>
       <% }%>
               
    </tbody>
</table>


